$textColor: #292929;

.Input {
    width: 212px;
    padding: 8px 12px;
    border: 1px solid $textColor;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }